GoogleService-Info.plist

# Refer to https://github.com/github/gitignore/blob/main/Swift.gitignore

## User settings
xcuserdata/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
Package.resolved
*.xcodeproj
